@import url(../sidebar/sidebar.css);
@import url(../main/main.css);
@import url(../navbar/navbar.css);

$bgColor:#000016;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cantenir{
    width: 100%;
    display: flex;
    .content{
        flex: 4;
    }
}