$bgColor: #000016;


.sidebar{
    flex: 1;
    background-color: $bgColor;
    min-height: 100vh;
    position: sticky;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .sidebar-logo{
        color:#fff;
    }
    .sidebar-menu{
        display: flex;
        flex-direction: column;
        gap: 15px;
        button{
            padding: 15px 10px;
            border: none;
            // background-color: #fff;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: #2e374a;
            }
        }
        .sidebar-link{
            // color:#fff;
            font-size: 20px;
        }
    }
    
    
}